.trangch-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.trangch-thq-trangch-elm {
  width: 100%;
  height: 4950px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.trangch-thq-text-elm10 {
  top: 3857px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  width: 625px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-cards-elm1 {
  gap: 32px;
  top: 3963px;
  left: 80px;
  width: 1280px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.trangch-thq-customer-quote-elm1 {
  gap: 48px;
  width: 405.3333435058594px;
  display: flex;
  padding: 32px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.trangch-thq-text-elm11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-avatar-elm1 {
  gap: 16px;
  display: flex;
  align-items: center;
}
 
.trangch-thq-avatar-elm2 {
  width: 45px;
  height: 45px;
}
 
.trangch-thq-frame2610301-elm1 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.trangch-thq-text-elm12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm13 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-customer-quote-elm2 {
  gap: 48px;
  display: flex;
  padding: 32px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.trangch-thq-text-elm14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-avatar-elm3 {
  gap: 16px;
  display: flex;
  align-items: center;
}
 
.trangch-thq-avatar-elm4 {
  width: 45px;
  height: 45px;
}
 
.trangch-thq-frame2610301-elm2 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.trangch-thq-text-elm15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm16 {
  color: rgba(130, 130, 130, 1);
  width: 88px;
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-customer-quote-elm3 {
  gap: 48px;
  display: flex;
  padding: 32px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.trangch-thq-text-elm17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-avatar-elm5 {
  gap: 16px;
  display: flex;
  align-items: center;
}
 
.trangch-thq-avatar-elm6 {
  width: 45px;
  height: 45px;
}
 
.trangch-thq-frame2610301-elm3 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.trangch-thq-text-elm18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm19 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-navigation-footer-elm {
  top: 4686px;
  left: 0px;
  width: 1440px;
  height: 264px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.trangch-thq-items-elm1 {
  gap: 24px;
  top: 48px;
  left: 736px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.trangch-thq-text-elm22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm23 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm24 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm25 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-items-elm2 {
  gap: 24px;
  top: 48px;
  left: 955px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.trangch-thq-text-elm26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm27 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm28 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm29 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-items-elm3 {
  gap: 24px;
  top: 48px;
  left: 1173px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.trangch-thq-text-elm30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm31 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm32 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm33 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm34 {
  top: 52px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-social-icons-elm {
  gap: 8px;
  top: 176px;
  left: 80px;
  width: 184px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.trangch-thq-buttons-icon-elm1 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.trangch-thq-icon-elm1 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.trangch-thq-icon-elm2 {
  top: 2.0399999618530273px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.trangch-thq-buttons-icon-elm2 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.trangch-thq-icon-elm3 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.trangch-thq-icon-elm4 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
 
.trangch-thq-buttons-icon-elm3 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.trangch-thq-icon-elm5 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.trangch-thq-icon-elm6 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}
 
.trangch-thq-buttons-icon-elm4 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.trangch-thq-icon-elm7 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.trangch-thq-icon-elm8 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.trangch-thq-divider-elm {
  top: 1px;
  left: 80px;
  width: 1280px;
  height: 1px;
  position: absolute;
  align-self: stretch;
}
 
.trangch-thq-navigation-elm {
  top: -1.0000008344650269px;
  left: 0.0035232026129961014px;
  width: 1440px;
  height: 164px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.trangch-thq-items-elm4 {
  gap: 48px;
  top: 54.999996185302734px;
  left: 760.0036010742188px;
  width: 600px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
 
.trangch-thq-text-elm35 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm36 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-button-elm1 {
  gap: 8px;
  display: flex;
  padding: 14px 24px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.trangch-thq-text-elm38 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm39 {
  top: 67px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-text-elm40 {
  top: 1392px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  width: 624px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-frame1321317456-elm {
  gap: 32px;
  top: 1477px;
  left: 80px;
  width: 1279px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.trangch-thq-card-elm1 {
  gap: 24px;
  width: 405px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.trangch-thq-image5-elm {
  width: 405px;
  height: 405px;
}
 
.trangch-thq-copy-elm1 {
  gap: 4px;
  width: 381px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.trangch-thq-text-elm41 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm42 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-card-elm2 {
  gap: 24px;
  width: 405px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.trangch-thq-image6-elm {
  width: 405px;
  height: 423px;
}
 
.trangch-thq-copy-elm2 {
  gap: 4px;
  width: 381px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.trangch-thq-text-elm43 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm44 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-card-elm3 {
  gap: 24px;
  width: 405px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.trangch-thq-image7-elm {
  width: auto;
  height: 405px;
  align-self: stretch;
}
 
.trangch-thq-copy-elm3 {
  gap: 4px;
  width: 381px;
  height: 170.746826171875px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.trangch-thq-text-elm45 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm46 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-image4-elm1 {
  top: 2198px;
  left: 707px;
  width: 704px;
  height: 704px;
  position: absolute;
}
 
.trangch-thq-image4-elm2 {
  top: 511.99847412109375px;
  left: 78.99993133544922px;
  width: 1264px;
  height: 846px;
  position: absolute;
}
 
.trangch-thq-text-elm47 {
  top: 3083px;
  left: 79.99647521972656px;
  color: rgba(0, 0, 0, 1);
  width: 624px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-cards-elm2 {
  gap: 31px;
  top: 3188px;
  left: 80px;
  width: 1280px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.trangch-thq-card-elm4 {
  gap: 32px;
  width: 624.5px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.trangch-thq-image-elm1 {
  width: 624.5px;
  height: 341px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("public/tq_gudgwemj_2-g8o-1500w.png");
}
 
.trangch-thq-copy-elm4 {
  gap: 8px;
  width: 548.4390869140625px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.trangch-thq-text-elm48 {
  color: rgba(0, 0, 0, 1);
  width: 548px;
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm49 {
  color: rgba(130, 130, 130, 1);
  width: 548px;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-card-elm5 {
  gap: 32px;
  width: 624.5px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.trangch-thq-image-elm2 {
  width: 624.5px;
  height: 341px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("public/tq_7myafviknr-55ir-1500w.png");
}
 
.trangch-thq-copy-elm5 {
  gap: 8px;
  width: 547.5615844726562px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.trangch-thq-text-elm50 {
  color: rgba(0, 0, 0, 1);
  width: 548px;
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm51 {
  color: rgba(130, 130, 130, 1);
  width: 548px;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm52 {
  top: 2198px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  width: 624px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm53 {
  gap: 48px;
  top: 2304px;
  left: 79px;
  width: 516px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
}
 
.trangch-thq-text-elm54 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.trangch-thq-text-elm55 {
  color: rgba(0, 0, 0, 1);
  width: 515px;
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm56 {
  color: rgba(130, 130, 130, 1);
  width: 515px;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm59 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.trangch-thq-text-elm60 {
  color: rgba(0, 0, 0, 1);
  width: 515px;
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm61 {
  color: rgba(130, 130, 130, 1);
  width: 515px;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm64 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.trangch-thq-text-elm65 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm66 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-buttons-elm1 {
  gap: 16px;
  top: 2904px;
  left: 203px;
  width: 105px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.trangch-thq-button-elm2 {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(230, 230, 230, 1);
}
 
.trangch-thq-text-elm69 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-button-elm3 {
  gap: 8px;
  top: 2904px;
  left: 79px;
  width: 102px;
  display: flex;
  padding: 12px 24px;
  position: absolute;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 1);
}
 
.trangch-thq-text-elm70 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-section-elm {
  top: 4311px;
  left: -0.000018912327504949644px;
  width: 1440px;
  height: 236px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(247, 247, 247, 1);
}
 
.trangch-thq-buttons-elm2 {
  gap: 24px;
  top: 80px;
  left: 1097px;
  width: 263px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
 
.trangch-thq-button-elm4 {
  gap: 8px;
  display: flex;
  padding: 20px 32px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 1);
}
 
.trangch-thq-text-elm71 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-button-elm5 {
  gap: 8px;
  display: flex;
  padding: 20px 32px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(230, 230, 230, 1);
}
 
.trangch-thq-text-elm72 {
  color: rgba(0, 0, 0, 0.8999999761581421);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm73 {
  top: 89px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  width: 625px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-copy-elm6 {
  gap: 40px;
  top: 194px;
  left: 80px;
  width: 844px;
  height: 245px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.trangch-thq-pagetitle-elm {
  gap: 24px;
  top: 0px;
  left: 0px;
  width: 1297px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.trangch-thq-text-elm74 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 64px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-thq-text-elm75 {
  color: rgba(0, 0, 0, 0.75);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.trangch-thq-button-elm6 {
  gap: 8px;
  display: flex;
  padding: 20px 32px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 1);
}
 
.trangch-thq-text-elm78 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.trangch-link {
  display: contents;
}
 
.trangch-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.trangch-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.trangch-text6 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

/* cau chuyen */

.cuchuyn-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.cuchuyn-thq-cuchuyn-elm {
  width: 100%;
  height: 3707px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.cuchuyn-thq-text-elm10 {
  top: 2663px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  width: 625px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
 
.cuchuyn-thq-text-elm11 {
  top: 2274px;
  left: 299.010986328125px;
  color: rgba(0, 0, 0, 1);
  width: 842px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-images-elm {
  gap: 32px;
  top: 1757px;
  left: 80px;
  width: 1280px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.cuchuyn-thq-image-elm1 {
  width: 624px;
  height: 436px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("public/tq_3btdm3perl-c7t4-500h.png");
}
 
.cuchuyn-thq-image-elm2 {
  width: 624px;
  height: 436px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("public/tq_mpe0guxiqx-kr9p-500h.png");
}
 
.cuchuyn-thq-image8-elm {
  top: 554px;
  left: 80px;
  width: 1281px;
  height: 650px;
  position: absolute;
}
 
.cuchuyn-thq-text-elm19 {
  top: 1227px;
  left: 299.010986328125px;
  color: rgba(0, 0, 0, 1);
  width: 842px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-articletitle-elm {
  gap: 24px;
  top: 244px;
  left: 80.00293731689453px;
  width: 733px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.cuchuyn-thq-text-elm28 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: normal;
}
 
.cuchuyn-thq-text-elm29 {
  color: rgba(0, 0, 0, 0.75);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-navigation-elm {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 164px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.cuchuyn-thq-items-elm {
  gap: 48px;
  top: 56px;
  left: 783px;
  width: 577px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
 
.cuchuyn-thq-text-elm30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-text-elm31 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-text-elm32 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-button-elm {
  gap: 8px;
  display: flex;
  padding: 14px 24px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.cuchuyn-thq-text-elm33 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-text-elm34 {
  top: 67px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-cards-elm {
  gap: 32px;
  top: 2755px;
  left: 81px;
  width: 1276px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.cuchuyn-thq-card-elm1 {
  gap: 24px;
  width: 404px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cuchuyn-thq-image-elm3 {
  width: 404px;
  height: 346px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-size: cover;
  background-color: rgba(247, 247, 247, 1);
  background-image: url("public/tq_atttpigxxp-mdtn-500w.png");
}
 
.cuchuyn-thq-copy-elm1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.cuchuyn-thq-text-elm35 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-text-elm36 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-card-elm2 {
  gap: 24px;
  width: 404px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cuchuyn-thq-image-elm4 {
  width: 404px;
  height: 346px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-size: cover;
  background-color: rgba(247, 247, 247, 1);
  background-image: url("public/tq_b-vvsm32kh-12ik-500w.png");
}
 
.cuchuyn-thq-copy-elm2 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.cuchuyn-thq-text-elm37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-text-elm38 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-card-elm3 {
  gap: 24px;
  width: 404px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cuchuyn-thq-image-elm5 {
  width: 404px;
  height: 346px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-size: cover;
  background-color: rgba(247, 247, 247, 1);
  background-image: url("public/tq_jeao5dmnan-998-500w.png");
}
 
.cuchuyn-thq-copy-elm3 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.cuchuyn-thq-text-elm39 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-text-elm40 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-navigation-footer-elm {
  top: 3270.4970703125px;
  left: 1.2899013757705688px;
  width: 1440px;
  height: 264px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.cuchuyn-thq-text-elm41 {
  top: 52px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-social-icons-elm {
  gap: 8px;
  top: 176px;
  left: 80px;
  width: 184px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.cuchuyn-thq-buttons-icon-elm1 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.cuchuyn-thq-icon-elm1 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.cuchuyn-thq-icon-elm2 {
  top: 2.0399999618530273px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.cuchuyn-thq-buttons-icon-elm2 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.cuchuyn-thq-icon-elm3 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.cuchuyn-thq-icon-elm4 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
 
.cuchuyn-thq-buttons-icon-elm3 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.cuchuyn-thq-icon-elm5 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.cuchuyn-thq-icon-elm6 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}
 
.cuchuyn-thq-buttons-icon-elm4 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.cuchuyn-thq-icon-elm7 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.cuchuyn-thq-icon-elm8 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.cuchuyn-thq-divider-elm {
  top: 1px;
  left: 80px;
  width: 1280px;
  height: 1px;
  position: absolute;
  align-self: stretch;
}
 
.cuchuyn-thq-text-elm42 {
  top: 68.28687286376953px;
  left: 303.759765625px;
  color: rgba(0, 0, 0, 1);
  width: 967px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-link {
  display: contents;
}
 
.cuchuyn-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.cuchuyn-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.cuchuyn-text24 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.cuchuyn-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.cuchuyn-thq-cuchuyn-elm {
  width: 100%;
  height: 3707px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.cuchuyn-thq-text-elm10 {
  top: 2663px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  width: 625px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
 
.cuchuyn-thq-text-elm11 {
  top: 2274px;
  left: 299.010986328125px;
  color: rgba(0, 0, 0, 1);
  width: 842px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-images-elm {
  gap: 32px;
  top: 1757px;
  left: 80px;
  width: 1280px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.cuchuyn-thq-image-elm1 {
  width: 624px;
  height: 436px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("public/tq_3btdm3perl-c7t4-500h.png");
}
 
.cuchuyn-thq-image-elm2 {
  width: 624px;
  height: 436px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("public/tq_mpe0guxiqx-kr9p-500h.png");
}
 
.cuchuyn-thq-image8-elm {
  top: 554px;
  left: 80px;
  width: 1281px;
  height: 650px;
  position: absolute;
}
 
.cuchuyn-thq-text-elm19 {
  top: 1227px;
  left: 299.010986328125px;
  color: rgba(0, 0, 0, 1);
  width: 842px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-articletitle-elm {
  gap: 24px;
  top: 244px;
  left: 80.00293731689453px;
  width: 733px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.cuchuyn-thq-text-elm28 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: normal;
}
 
.cuchuyn-thq-text-elm29 {
  color: rgba(0, 0, 0, 0.75);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-navigation-elm {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 164px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.cuchuyn-thq-items-elm {
  gap: 48px;
  top: 56px;
  left: 783px;
  width: 577px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
 
.cuchuyn-thq-text-elm30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-text-elm31 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-text-elm32 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-button-elm {
  gap: 8px;
  display: flex;
  padding: 14px 24px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.cuchuyn-thq-text-elm33 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-text-elm34 {
  top: 67px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-cards-elm {
  gap: 32px;
  top: 2755px;
  left: 81px;
  width: 1276px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.cuchuyn-thq-card-elm1 {
  gap: 24px;
  width: 404px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cuchuyn-thq-image-elm3 {
  width: 404px;
  height: 346px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-size: cover;
  background-color: rgba(247, 247, 247, 1);
  background-image: url("public/tq_atttpigxxp-mdtn-500w.png");
}
 
.cuchuyn-thq-copy-elm1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.cuchuyn-thq-text-elm35 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-text-elm36 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-card-elm2 {
  gap: 24px;
  width: 404px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cuchuyn-thq-image-elm4 {
  width: 404px;
  height: 346px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-size: cover;
  background-color: rgba(247, 247, 247, 1);
  background-image: url("public/tq_b-vvsm32kh-12ik-500w.png");
}
 
.cuchuyn-thq-copy-elm2 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.cuchuyn-thq-text-elm37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-text-elm38 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-card-elm3 {
  gap: 24px;
  width: 404px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cuchuyn-thq-image-elm5 {
  width: 404px;
  height: 346px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-size: cover;
  background-color: rgba(247, 247, 247, 1);
  background-image: url("public/tq_jeao5dmnan-998-500w.png");
}
 
.cuchuyn-thq-copy-elm3 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.cuchuyn-thq-text-elm39 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-text-elm40 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-navigation-footer-elm {
  top: 3270.4970703125px;
  left: 1.2899013757705688px;
  width: 1440px;
  height: 264px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.cuchuyn-thq-text-elm41 {
  top: 52px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-thq-social-icons-elm {
  gap: 8px;
  top: 176px;
  left: 80px;
  width: 184px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.cuchuyn-thq-buttons-icon-elm1 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.cuchuyn-thq-icon-elm1 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.cuchuyn-thq-icon-elm2 {
  top: 2.0399999618530273px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.cuchuyn-thq-buttons-icon-elm2 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.cuchuyn-thq-icon-elm3 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.cuchuyn-thq-icon-elm4 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
 
.cuchuyn-thq-buttons-icon-elm3 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.cuchuyn-thq-icon-elm5 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.cuchuyn-thq-icon-elm6 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}
 
.cuchuyn-thq-buttons-icon-elm4 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.cuchuyn-thq-icon-elm7 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.cuchuyn-thq-icon-elm8 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.cuchuyn-thq-divider-elm {
  top: 1px;
  left: 80px;
  width: 1280px;
  height: 1px;
  position: absolute;
  align-self: stretch;
}
 
.cuchuyn-thq-text-elm42 {
  top: 68.28687286376953px;
  left: 303.759765625px;
  color: rgba(0, 0, 0, 1);
  width: 967px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.cuchuyn-link {
  display: contents;
}
 
.cuchuyn-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.cuchuyn-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.cuchuyn-text24 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
